/*hide non printable elements*/
@import url("https://fonts.googleapis.com/css2?family=Flavors&family=Sigmar+One&display=swap" );

@media print
{    
    .no-print{
        display: none !important;
        visibility: hidden !important;
    }
    button{
        display: none !important;
        visibility: hidden !important;
    }
    .appbar{
        display: none !important;
        visibility: hidden !important;
    }
    h2{
        display: none !important;
        visibility: hidden !important;
    }
}
@page{
    size: A4 landscape;
    print-color-adjust: exact;
    margin: 0.5cm;
}
#toPrint{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div{
    
    border-style: dotted;
    border:1cm;
    size: a4 portrait;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}
p{
    margin-block-end: 0%;
    margin-block: 0%;
}

.label{
    width: 5.5cm;
    height: 4.5cm;
    border: 1px;
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: double;
    text-align: center;
    margin:0.1em;
    padding-top: 0.0cm;
    page-break-inside: avoid;
    print-color-adjust: exact;
    
    ;
}
.retail-price-shelf{
    text-align: left;
    font: size 12px;
    margin-left: 0.2em;
    text-decoration: line-through;
    padding: 0ch;
    color:black;
    margin-top: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.special-price-shelf{
    font-weight: bolder;
    font-size: 30px;
    margin: 2px;
    color: black;
    
    font-family: "Arial Black", sans-serif;
    
}
.tradename-shelf{
    height: 1.2cm;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: Century Gothic, sans-serif;
    color:black;

   
    
    margin-bottom: 0;
    margin-top: 0.6em;
    
}

.label-header{
    margin-block-end:  0%;
    font-size: larger;
    font-weight: bolder;
    background-color: black;
    color: white;
    font-family: "Sigmar One", sans-serif;
    
    
}

.pagebreak{
    page-break-after: always;
}
.pharmacyName{
    font-size: 1em;
}

.plu
{
    margin-top: 0.5em;
    ;
    font-size: 0.8em;
    text-align: left;
}

